.box_red{
    background-color: red;
        }
        .box_blue{
    background-color: blue;
        }
        .box-green{
    background-color: green;
        }
        .box_yellow{
    background-color: yellow;
        }